#bold{
	text-align: right;
	font-weight: bold;
}
#header{
	font-size: 20px;
	font-family: sans-serif;
}
.tile{
	width: 24%;
	display: inline-block;
}
#line1{
	display: block;
	
	margin-bottom: 35px
}
#line2{
	display: block;

	margin-bottom: 35px
}
#line3{
	display: block;

	margin-bottom: 35px
}
#line4{
	display: block;

	margin-bottom: 35px
}

#wrapper{
	width: 950px;
	margin: 0 auto;
	margin-top: 30px;
}
.footer1{
	display: inline-block;
	width: 25%
	border: 2px solid;


}
#footer2{

	padding: 10px;
	text-align: center;
	position: relative;
	margin-right: 5px;
	margin-left: 33%;

}
#footer3{

	padding: 10px;
	text-align: center;
	position: relative;
	margin-left: 5px;
	margin-right: 33%
}
