#bold{
	text-align: right;
	font-weight: bold;
}
#header{
	font-size: 1.25em;
	font-family: sans-serif;
	line-height: 1.5;
	text-decoration: none;
}
.tile{
	width: 24%;
	display: inline-block;
}
#line1{
	display: block;
	
	margin-bottom: 2.1875em
}
#line2{
	display: block;

	margin-bottom: 2.1875em
}
#line3{
	display: block;

	margin-bottom: 2.1875em
}
#line4{
	display: block;

	margin-bottom: 2.1875em
}

#wrapper{
	width: 71%;
	margin: 0 auto;
	margin-top: 2.7%;
}
.footer1{
	display: inline-block;


}
#footer2{

	padding: .625em;
	text-align: center;
	position: relative;
	margin-right: .3125em;
	margin-left: 33%;
}
#footer3{

	padding: .625em;
	text-align: center;
	position: relative;
	margin-left: .3125em;
	margin-right: 33%
}

#footer4 p{
	text-align: center;
	border-top: .0625em solid #AAAAAA;
	padding-top: .9375em;
}
a{
	text-decoration: none;
}